.wrapper {
    width: 1080px;
    min-height: 880px;
    border: 1px solid;
    border-radius: 5px;

    background-color: white;

    margin: auto;
}

.frontbanner {
    width: 500px;
    height: 280px;
    background-image: url('https://img.khan.co.kr/news/2007/01/19/7a20k11a.webp');
    
    border: 1px solid;
    border-radius: 5px;

    margin: 10px auto 0px auto;
}

.searchBar{
    width: 400px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px auto 0px auto;
}

.buttonbox {

    width: 600px;
    height: 100px;

    margin: 10px auto 0px auto;

    display: flex;
}

.buttonboxitem {
    margin: auto;
}

.button {
    background-color: #4E57DE;

    color: white;

    width: 200px;
    height: 60px;

    border-radius: 5px;
}

.backcontents {

    width: 600px;
    height: 200px;
    margin: 10px auto 0px auto;
}