.wrapper {
    width: 600px;
    height: 90vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 600px;

    background-color: white;

    border: 2px solid;
    border-radius: 5px;
}

.logo {
    width: 400px;
    height: 98px;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtext{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-googleJua);
}

.form {
    width: 500px;
    margin: 0px auto 10px auto;
}

.group{
    width: 500px;
    margin-bottom: 10px;
}

.labelfont{
    font-family: var(--font-googleJua);
    font-size: 20px;
}

.menu {
    display: flex;
}

.menutextbox {
    width: 450px;
    height: 34px;

    display: flex;
}

.menutext {
    margin-left : 10px;
    font-size: 18px;
    font-family: var(--font-googleJua);
}

.button {
    background-color: #4E57DE;
    color: white;
    font-family: var(--font-googleJua);
    
    width: 78px;
    height: 34px;

    border: 0px;
    border-radius: 5px;
}

.socials {
    width: 450px;

    margin: auto;
}