.wrap {
    width: 400px;
    height: 90vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 380px;

    background-color: white;

    border: 2px solid;
    border-radius: 5px;
}

.logo {
    width: 380px;
    height: 98px;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtext{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

Form{
    width: 380px;
    margin: auto;
}

.formgroup{
    width: 360px;
    margin: 5px auto 5px auto;
}

.formlabel{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.formbutton {
    color: white;
    
    width: 360px;
    height: 48px;

    margin: 5px 10px 5px 10px;
    
    border: 0px;
    border-radius: 25px;
}

.forminput {
    border: 0;
    border-radius: 0;

    border-bottom: 2px solid gray;
}

.accountmenu {
    width: 360px;
    height: 32px;

    display: flex;

    margin: 5px 10px 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menutext {
    width: 100px;
    margin-left : 10px;
    font-size: 18px;
    font-family: var(--font-googleJua);

    text-decoration:none;
    color: black;

    text-align: center;
}

.socials {
    width: 360px;

    margin: auto;
}

.socialbutton {
    width: 360px;
    height: 48px;
    position: relative;

    margin-bottom: 10px;

}

.socialimage {
    width: 360px;
    height: 48px;
    border-radius: 25px;
}

.textonsocial {
    position: absolute;
    top: 50%;
    left: 50%;

    text-decoration: none;

    transform: translate(-50%, -40%);

    font-size: 16px;
    font-weight: 100;
}

img:hover{
    filter: opacity(0.8) drop-shadow(0 0 0 #000000);
}