.wrapper {
    width: 400px;
    height: 90vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 380px;

    background-color: white;

    border: 2px solid;
    border-radius: 5px;
}

.logo {
    width: 380px;
    height: 98px;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtext {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    
}

.form {
    width: 380px;
    margin: auto;
}

.formgroup {
    width: 360px;

    margin: 5px auto 5px auto;
}

.formlabel {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 0px;
}

.forminput {
    border: 0;
    border-radius: 0;

    border-bottom: 2px solid gray;
}

.summit {
    width: 360px;
    height: 55px;
    
    background-color:#4E57De;
    color: #FFFFFF;

    font-size: 22px;

    border: 0px;
    border-radius: 10px;

    margin: 10px 10px 80px 10px;
}

.address {
    width: 280px;
}
.addressbtn{
    width: 80px
}