.wrap {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fcfcfc;
}

.toggleButton {
    width: 300px;
    height: 48px;

    font-size: 22px;
    background-color: #fcfcfc;
    color: black;

    border: none;
}

.toggleButton.active {
    color:  #5359C7;
}

.categoryButton {
    width: 230px;
    height: 40px;
    font-size: 22px;
    margin: 1px 0px 1px 20px;
    background-color: #fcfcfc;

    border: none;
}

.categoryButton:hover {
    background-color: #f8f8f8;
    color: #5359C7;
}