.wrap {
    max-width: 800px;
    min-height: 750px;
    margin: auto;
}

.inputForm {
    width: 600px;
    border: 2px solid #FCFCFC;

    margin: auto;
}

.imagebox {
    width: 400px;
    height: 300px;

    margin: 5px auto 5px auto;
}

.categorybox {
    position: absolute;
}

.categorydropdown {
    width: 160px;
    height: 36px;
}

.formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px 2px 0px;
}

.formLabel {
    width: 20%;
    height: 36px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInput {
    width: 70%;
}

.requestButton {
    width: 120px;
    float: right;
}
.formContentsGroup {
    height: 400px;
}
.formContentsInput {
    width: 90%;
    height: 86%;
    margin: auto;
}