.wrap {
    width: 210px;
    height: 284px;
}
.card {
    border: 100px solid;

}

.cardBox {
    width: 196px;
    height: 196px;

    border: 2px solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardId {
    border: 1px solid;
}

.cardBody {
    border: 1px solid;
}

.cardTitle{
    text-align: center;
}

.cardFooter {
    display: flex;
}

.heartImg {
    width: 16px;

    margin: auto;
}