.wrap {
    width: 1400px;
    background-color: white;

    margin: 0px auto 0px auto;
}

.cards {
    width: 1000px;
    min-height: 330px;

    margin: 0px auto 0px auto;
    padding-bottom: 10px;

}
