.wrap {
    width: 1000px;
    height: 85vh;

    border: 2px solid;
}

.reviewBox {
    width: 1000px;
    height: 750px;
}

.pagination {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}