.wrap {
    height: 795px;

    margin-left: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.reviewBox {
    padding-top: 10px;
    width: 1000px;
    height: 750px;
}

.pagination {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}