@font-face {
    font-family: "googleJua";
    src: url(./assets/fonts/Jua/Jua-Regular.ttf);
}

:root {
    --font-googleJua: "googleJua";
}

body {
    font-family: var(--font-googleJua);
    background-color: #FCFCFC;
}

#social:hover {
    filter: opacity(0.8) drop-shadow(0 0 0 #000000);
}