.wrapper {
    width: 96vw;

    margin: 2px auto 2px auto;
}

.chatbox{
    width: 96vw;
    height: 83vh;

    border: 2px solid;
    border-radius: 5px;

}

.inputbox {
    width: 96vw;
    min-width: 350px;
    min-height: 58px;

    border-radius: 5px;

    display: flex;
}

.inputgroup {
    width: 96vw;
    min-width: 280px;
}

.inputbutton {
    min-width: 80px;
    min-height: 54px;
}

.input {
    width: 300px;
}
