.wrapper {
    width: 94vw;

    margin: 2px auto 2px auto;
}

.chatinfobox {
    width: 94vw;
    height: 48px;

    border: 2px solid;
    border-radius: 5px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.chatbox{
    width: 94vw;
    height: 83vh;

    border: 2px solid;
    border-radius: 5px;

}

.inputbox {
    width: 94vw;
    min-width: 350px;
    min-height: 58px;

    border-radius: 5px;

    display: flex;
}

.inputgroup {
    width: 94vw;
    min-width: 280px;

}

.inputbutton {
    min-width: 80px;
    min-height: 54px;
}

.input {
    width: 300px;
}

.chatwrapper {
    width: 92vw;
    height: 36px;

    /* background-color: tomato; */
}