.wrapper {
    width: 400px;
    height: 90vh;

    margin: auto;
}

.title{
    font-size : 25px;
    font-weight: 1000;
}

.group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label {
    font-size : 16px;
    font-weight: bold;
}

.input {
    width: 250px;
    height: 40px;
}

.summit {
    width: 250px;
    height: 55px;
    
    background-color:#4E57De;
    color: #FFFFFF;

    font-size: 22px;

    border-radius: 10px;

    margin-top: 20px;
    margin-bottom: 10px;
}

.kakao {
    width: 250px;

    border-radius: 10px;

    margin-bottom: 20px;
}

.address{
    font-size : 13px;
    width: 200px;
}